.container{
    width: fit-content;
    margin: auto;
}
.pagination-pages{
    display: flex;
    justify-content: space-between;
    margin-top: 3%;
}
.pagination-pages button{
    margin: 4px;
}

table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
}
th{
    color: black;
    font-weight: bold;   
}
td{
    background-color:white;
}
th,td{
    padding: 0.5%;
    align-items: center;
    width: 210px;
    text-align: center;
}
button{
    cursor: pointer;
    padding: 0 5px;
    margin: 2px;
}
.actions-btn button{
    width: 45%;
   
}

